# Python compiled files
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
env/
venv/

# Django files
db.sqlite3
*.log
*.pid
*.bak
*.swp
media/
staticfiles/
static/

# Local environment files
.env
.env.*

# IDE files
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# dummy data
seed/*.json
